// Variables
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$button-color: #007bff;
$secondary-color: #ffffff;
$navbar-padding: 10px;
$navbar-logo-font-size: 24px;
$navbar-button-padding: 10px 20px;
$navbar-button-font-size: 16px;
$navbar-button-color: #ea3a60;
$logo-color: #ea3a60;
$nav-link-color: #02073e;

$white: white;
$lightgray: lightgrey;
$darkgreen: darkgreen;

$basic-red:#ea3a60;